img{
    width: 200px;
    height: auto;
    margin: 10px 0;
    vertical-align: middle;
}
body{
    background-color: rgb(255, 255, 255);
}
body{
    color: rgb(255, 255, 255);
}
.link-Twitter{
    color: #1322e9;
    text-decoration: none;
}
.link-Instagram{
    color: #1322e9;
    text-decoration: none;
}
.link-Karotter{
    color: #1322e9;
    text-decoration: none;
}
.link-GitHub{
    color: #1322e9;
    text-decoration: none;
}
.link-Atcoder{
    color: #1322e9;
    text-decoration: none;
}
a:hover{
    opacity: 0.8;
    text-decoration: underline;
}
h1{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}
p{
    font-size: 18px;
    font-weight: normal;
}
h2{
    font-size: 30px;
    font-weight: normal;
}
body{
    background-image: url(10-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
hr{
    border: none;
    height: 2px;
    background-color: #ffffff;
    margin: 20px 0;
}
html,body{
    height: 100%;
    margin: 0;
}